/* src/components/Dashboard/Dashboard.css */
.Dashboard {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .containers {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .summary {
    margin-bottom: 20px;
  }
  
  .recent-transactions {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 8px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005a7f;
  }
  
  .add-expense-button {
    margin-top: 20px;
  }
  