body {
    background-color: #8a2be2;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .ChangePassword {
    text-align: center;
    margin-top: 50px;
  }
  
  .container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    width: 100%;
    margin-top: 20px;
  }
  
  label {
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
  }
  
  