/* src/components/Reports/Reports.css */
.Reports {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  .fcontainer {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .containers {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .controls {
    margin-bottom: 20px;
    
  }
  
  label {
    margin-top: 30px;
    margin-right: 10px;
  }
  
  input {
    margin-top: 5%;
    width: 60px;
    margin-right: 10px;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .report-results {
    margin-top: 20px;
  }
  .year{
    margin-top: 30px;
  }
  .category-list {
    list-style: none;
    padding: 0;
  }
  
  .category-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .category-item:last-child {
    border-bottom: none;
  }
  